h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
.logo {
    display: block;
    width: 150px;
    margin: auto;
}
.header {
    cursor: pointer;
}
.header:hover {
    color: #42b983;
}

.textInputWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.textArea {
    color: #333;
}
.emptyInput {
    border: 1px solid #eee;
}

input {
    outline: none;
}

.textShow {
    margin-left: 10px;
}